/*page-login {
    .item-label-stacked .text-input, .item-label-floating .text-input{
        font-size: 22px;    
    }
a{
    opacity: 0.50 !important;
}
    .bg-img {
        background: radial-gradient(circle, #F4F4F4 0%, #828282 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
      
      }
      .rectangle-1 {
        position: relative;
        left: 0px;
     
        height: 100%;
        width: 57px;
        background-color: #4A134A;
        z-index: 7;
      }
      .rectangle-2 {
        width: 90px;
        background-color: #B6D142;
        position: absolute;
        left: 0px;
        top: 1px;
        height: 100%;
        box-shadow: 3px 0 8px 0 rgba(0,0,0,0.5) !important;
        }
      .list-md .item-block .item-inner{
        border-bottom: 1px solid #808080 !important;
      }
      .item{
          background: transparent !important;
          padding-left: 0px !important;
          padding-right: 0px !important;
          padding: 9px !important;
      }
    .login-card{
      //  height: 508px !important;
        border-radius: 6px !important;
        background-color: #F7F7F7 !important;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5) !important;
        position: absolute;
        top: 64px;
        z-index: 10;
        margin: 21px;
        width: calc(94% - 20px);
        padding-top: 27px;
    }

    // .ion-card {
    //     display: flex;
    //     justify-content: center;
    //     flex-direction: column;
    // }

    .tfg-logo img{
        margin: 11px;
    }
    .rectangle-2 p{
        margin-left: 124px;
        font-size: 24px;
    color: #4A134A;
        width: 157px;
        font-weight: 400;
        margin-top: 8px;
    
    }

   .scroll-content{
        padding:0px!important;
    }

    .login-style{
  
    color: #4A134A;
  //  font-family: Arial;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 0.05px;
    line-height: 20px;
}
    .tfg-title{
        
        color: #4A134A;
        font-family: Arial;
        font-size: 18px;
       
    }
    .login-btn{
        height: 47px;
        width: 100%;
        background: #4A134A;
        box-shadow: 0 6px 0 0 #B6D142;
        border-radius: 67px;
        text-transform: none;
        font-size: 16px;
    }
    .password-sec{
      
    //height: 48px;
    //width: 69px;
    border-radius: 6px;
    //margin: 5px;
    //font-size: 12px;
    font-family: arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    }

    .password-sec-bg{
        background-color: #E1E1E1;
    }
    .password-sec-bg-transparent{
        background-color: transparent
    }

.row{
 //   padding: 10px;
    margin-top: 36px;
}
// .row .security-row{
//     margin-top: 26px !important;
// }
.signup-align{
    float: right;
}
.error {
    color: #f53d3d; 
    margin-top:-5px; 
    margin-left: 10px; 
    margin-bottom: -10px;
    text-align:left;
  }

  .ovel p{
        font-size: 1.2rem;
        text-align: center;
        margin-top: 5px;
        color: black;
  }
  .ovel-opacity {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 5px;
      opacity: .16;
      background: transparent;
  }
  ion-card img{
    width: 30%;
     margin: 0 auto;

  }
  .card-content{
    padding: 13px 10px;
  }

  a {
    text-decoration: none;
    color: #333;
    opacity: 0.16;
  }
  .passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
    color: #4A134A;
 }
 .text-input {
    color: #4A134A;
 }

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 380px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

@media only screen 

  and (min-device-height: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .login-card{
        margin-top: 6%;
        
    }
}

@media only screen 

  and (min-device-height: 823px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .login-card{
        margin-top: 14%;
        
    }
}

@media only screen 

  and (min-device-height: 731px)
  
  and (-webkit-min-device-pixel-ratio: 2) {
    .login-card{
        top: 12%;
        
    }
}

}*/

page-login {
    .item-label-stacked .text-input, .item-label-floating .text-input{
        font-size: 22px;    
    }
a{
    opacity: 0.50 !important;
}
    .bg-img {
        background: radial-gradient(circle, #F4F4F4 0%, #828282 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
      
      }
      .rectangle-1 {
        position: absolute;
        left: 0px;
        height: 100%;
        width: 57px;
        background-color: #4A134A;
        z-index: 2;
        bottom: 0;
        top: 0;
      }
      .rectangle-2 {
        width: 90px;
        background-color: #B6D142;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        -webkit-box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.5) !important;
        box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.5) !important;
        bottom: 0;  
        }

        .rectangle-1-open {
            position: absolute;
            left: 0px;
            height: 100%;
            width: 57px;
            background-color: #4A134A;
            z-index: 2;
            bottom: 0;
            top: 0;
          }
          .rectangle-2-open {
            width: 90px;
            background-color: #B6D142;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            -webkit-box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.5) !important;
            box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.5) !important;
            bottom: 0;  
            }
      .list .item-block .item-inner{
        border-bottom: 1px solid #808080 !important;
      }
      .item{
          background: transparent !important;
          padding-left: 0px !important;
          padding-right: 0px !important;
          padding: 9px !important;
      }
    .login-card{
        border-radius: 6px !important;
        background-color: #F7F7F7 !important;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5) !important;
        position: absolute;
        padding-top: 20px;
        z-index: 10;
        //margin-top: 0px;
        width: calc(100% - 36px);
        top: 50%;
        margin-left: 5%;
        transform: translateY(-50%);
    }
    .login-card-open{
        border-radius: 6px !important;
        background-color: #F7F7F7 !important;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5) !important;
        position: absolute;
        padding-top: 20px;
        z-index: 10;
        margin-top: 26% !important;
        width: calc(100% - 36px);
        //top: 50%;
        margin-left: 5%;
        transform: translateY(0%);
    }
    .tfg-logo img{
        margin: 9px;
        width: 40px;
    }
    .rectangle-2 p{
        margin-left: 124px;
        font-size: 20px;
    color: #4A134A;
        width: 157px;
        font-weight: 400;
        margin-top: 8px;
    
    }

    .rectangle-2-open p{
        margin-left: 124px;
        font-size: 20px;
        color: #4A134A;
        width: 157px;
        font-weight: 400;
        margin-top: 8px;
    
    }

   .scroll-content{
        padding:0px!important;
    }

    .login-style{
    
    color: #4A134A;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 0.05px;
    line-height: 20px;
    margin-top: 4px;
}
    .tfg-title{
        
        color: #4A134A;
        font-family: Arial;
        font-size: 18px;
       
    }
    .login-btn{
        height: 47px;
        width: 100%;
        background: #4A134A;
        box-shadow: 0 6px 0 0 #B6D142;
        border-radius: 67px;
        text-transform: none;
        font-size: 16px;
    }
    .password-sec{
    border-radius: 6px;
    font-family: arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:1px solid#f7f7f7;    
    }

    .password-sec-bg{
        background-color: #E1E1E1;
    }
    .password-sec-bg-transparent{
        background-color: transparent
    }

.row{
    margin-top: 9px;
}

.signup-align{
    float: right;
}
.error {
    color: #f53d3d; 
    margin-top:-5px; 
    margin-left: 10px; 
    margin-bottom: -10px;
    text-align:left;
  }

  .ovel p{
        font-size: 1.2rem;
        text-align: center;
        margin-top: 5px;
        color: black;
  }
  .ovel-opacity {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 5px;
      opacity: .16;
      background: transparent;
  }
  ion-card img{
    width: 30%;
     margin: 0 auto;

  }
  .card-content{
    padding: 13px 10px;
  }

  a {
    text-decoration: none;
    color: #333;
    opacity: 0.16;
  }
  .passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
    color: #4A134A;
 }
 .text-input {
    color: #4A134A;
 }

// @media only screen 

//   and (max-device-height: 568px)

//   and (-webkit-min-device-pixel-ratio: 2) {
  
// .login-card {
 
//     width: calc(100% - 36px);
//     top: 49%;
//     margin-left: 5%;
//     -webkit-transform: translateY(-50%);
//     transform: translateY(-50%);
//     height: 77% !important;
//     overflow-y: scroll;
// }}


}

