

<ion-content class="bg-img" no-bounce>


  <div [ngClass]="{'rectangle-1': !keyBoardOpen,'rectangle-1-open': keyBoardOpen}">

    <div class="tfg-logo">

      <img src="assets/imgs/TFG_Logo.png">
      

    </div>

  </div>
  <div [ngClass]="{'rectangle-2': !keyBoardOpen,'rectangle-2-open': keyBoardOpen}">
    <p>Employee Self Service Hub</p>
      <!-- <img src="assets/imgs/Employee-Self-Servic.png"> -->
  </div>
<div class="card-align">
  <ion-card [ngClass]="{'login-card': !keyBoardOpen,'login-card-open': keyBoardOpen}">
    <ion-card-header style="margin-bottom: -15px;">
      <p class="login-style" text-center>LOGIN</p>
    </ion-card-header>

    <ion-card-content>
      <form>
        <ion-list>
          <ion-item>
              <ion-label style="color:#828282" floating>Employee Number</ion-label>
            <ion-input type="Username" name="Employee Number" [(ngModel)]="userData.userName" [formControl]="authForm.controls['username']">
            </ion-input>
          </ion-item>
          <div class="error" *ngIf="authForm.controls['username'].hasError('required') && authForm.controls['username'].touched">* Employee Number is required!</div>
          <div class="error" *ngIf="authForm.controls['username'].hasError('minlength') && authForm.controls['username'].touched">* Minimum Employee Number length is 6!</div>
          <div class="error" *ngIf="authForm.controls['username'].hasError('maxlength') && authForm.controls['username'].touched">* Maximum Employee Number length is 255!</div>
          <ion-item>
              <ion-label style="color:#828282" floating>Password</ion-label>
              <ion-input [type]="passwordType" clearOnEdit="false" name="password" [(ngModel)]="userData.password" [formControl]="authForm.controls['password']"> </ion-input>
              <ion-icon *ngIf="userData.password" item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>
          <div class="error" *ngIf="authForm.controls['password'].hasError('required') && authForm.controls['password'].touched">* Password is required!</div>
                      <div class="error" *ngIf="authForm.controls['password'].hasError('minlength') && authForm.controls['password'].touched">* Minimum password length is 8!</div>
          <ion-item *ngIf="_loginCaptchaStatus">
              <ion-label style="color:#828282" floating>Captcha : <b>{{_captcha}}</b></ion-label>
              <ion-input [type]="Captcha" clearOnEdit="false" name="captcha" [(ngModel)]="captcha"> </ion-input>
          </ion-item>
            <ion-row>
            <ion-col col-8 (click)="workinProgress()">
            <a href="#">Forgot Password?</a> 
          </ion-col>
          <ion-col col-4 end (click)="workinProgress()">
            <a href="#" class="signup-align">Signup</a>
          </ion-col>
          </ion-row>
          <ion-row>
          <div class="login-btn">
            <button class="login-btn" ion-button color="primary" block (click)="login()">Login</button>
          </div>
</ion-row>
        </ion-list>
      </form>


      <ion-row class="security-row" style="margin-top: 35px;" >
        <ion-col class="password-sec password-sec-bg">
          <div class="ovel" style="padding-top: 14px;">     
            <img src="assets/imgs/password.svg">
            <p>Password</p>
          
          </div>

        </ion-col>
        <ion-col (click)="callBiometric('1')" class="password-sec" [ngClass]="{ 'password-sec-bg': faceIDEnabled ,'password-sec-bg-transparent': !faceIDEnabled  }">
          <div [ngClass]="{ 'ovel': faceIDEnabled ,'ovel-opacity': !faceIDEnabled  }" >  
              <img src="assets/imgs/user.svg">
              <p>Face</p>
          </div>
        </ion-col>
        <ion-col (click)="callBiometric('2')" class="password-sec" [ngClass]="{ 'password-sec-bg': touchIDEnabled ,'password-sec-bg-transparent': !touchIDEnabled  }">
          <div [ngClass]="{ 'ovel': touchIDEnabled ,'ovel-opacity': !touchIDEnabled  }">
              <img src="assets/imgs/finger.svg" style="width: 30px;">
              <p>Finger</p>
          </div>
        </ion-col>
        <ion-col class="password-sec" (click)="workinProgress()">
          <div class="ovel-opacity">
              <img src="assets/imgs/otp.png" style="width:35px; padding-top:7px">
            <p style="margin-top: 6px;">Otp</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>

