page-payslip {   
        .bg-img {
            background: radial-gradient(circle, #F4F4F4 0%, #828282 100%);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;
          
          }
          .rectangle-1 {
            position: absolute;
            left: 0px;
            height: 100%;
            width: 57px;
            background-color: #4A134A;
            z-index: 2;
            bottom: 0;
            top: 0;
          }
          .rectangle-2 {
            width: 90px;
            background-color: #B6D142;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            -webkit-box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.5) !important;
            box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.5) !important;
            bottom: 0;  
            }
     
        .login-card{
            border-radius: 6px !important;
            background-color: #F7F7F7 !important;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5) !important;
            position: absolute;
            padding-top: 20px;
            z-index: 10;
            width: calc(100% - 36px);
            top: 53%;
            margin-left: 5%;
            transform: translateY(-45%);
            height: 427px;
        }
    
     
        .rectangle-2 p{
            margin-left: 124px;
            font-size: 20px;
        color: #4A134A;
            width: 157px;
            font-weight: 400;
            margin-top: 8px;
        
        }
    
       .scroll-content{
            padding:0px!important;
        }
    
        .login-style{
            color: #4A134A;
            font-size: 20px;
            font-weight: bolder;
            letter-spacing: 0.04px;
            line-height: 34px;
            text-align: center;
    }
    .payslip-text-style{
        color: #4A134A;
        font-size: 14px;
        
        letter-spacing: 0.05px;
        line-height: 20px;
        text-align: center;
    }
        .export-btn{
            height: 44px;
            width: 46%;
            background: #4A134A;
            border-radius: 5px;
            text-transform: none;
            font-size: 15px;
            margin: 0 auto;
        }
        .card-content{
            padding: 13px 10px;
          }

          .select{
            border: 1px solid #4A134A;
            border-radius: 4px;
            width: 150px;
            height: 53px;
        }
        .payslip-drop{
            padding: 30px;
            display: flex;
            justify-content: center;
            justify-content: space-between;
        }
      ion-card img{
        height:95%;
        width: 100%;
        margin: 0 auto;
      }
      ion-select {
         width: 100%;
         
    }
    .select .select-icon{
    position: relative;
    width: 45px;
    height: 46px;
    /* visibility: hidden; */
   
    background: #C8C8C8;
    border-radius: 8px;
    border: 1px solid #fff;
    }
    .select .select-icon .select-icon-inner{
        left: 15px;
    }

    .select{
        padding: 0 !important;
        min-height: 45px;
    }
    .back-btn{
        position: absolute;
        //  height: 40px;
          /* width: 30px; */
         // background: white;
          z-index: 20px;
          z-index: 10;
          margin-left: 23px;
          margin-top: 10px;
          //height: 33px;
          //width: 104.25px;
          border-radius: 15px;
          background-color: #ffffff;
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
          padding: 8px;
          
        }
        // .back-btn img{
        //     height: 16px !important;
        //     width: 79px !important;
        // }

        .select .select-placeholder{
            color: #4A134A;
        }
        .select-text{
            margin-top: 17px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: #4A134A;
        }
        .select-icon{
            margin: 3px;
        }
        .select .select-icon .select-icon-inner
        {
            border:none;
            background-image: url("./../assets/imgs/down-arrow.png");
            height: 60px;
            width: 43px;
            background-repeat: no-repeat, repeat;
            
        }
        .inputBox {
            //border-width: 1px !important;
            //border: 1px solid #4A134A !important;
            //border-radius: 4px !important;
            color: #4A134A;
            padding-left: 8px !important;
            font-size: 1.2em;
            //background: url("./../assets/imgs/down-arrow.png");
            //background-image: url("assets/imgs/dropdown.svg");
           
           
           // background-position: 95% center;
         //   height: 50px;
            width: 40px;
            margin: 3px;
            //margin-right: 10px;
            //padding-right: 40px;
        }
        .payslip-dropdown{
            background-repeat: no-repeat;
            background-size: 115px;
          
        }
        .payslip-dropdown img{
            height: 13%;
            width: 36%;
            margin: 0 auto;
            position: absolute;
        }
        ion-scroll {
            white-space: nowrap;
            /* height: 55px; */
            margin-top: 16px;
            padding: 18px;
        }
        .menu-slide{
            z-index: 20;
            width: calc(100% - 36px);
            position: absolute;
        margin-top: 16%;
        margin-left: 5%;
        border-radius: 6px;
        background: #f7f7f7;
        transform: translateY(23%);
        }
        .menu-item{
             /* width: 30%; */
        font-size: 17px;
        margin-left: 7px;
        /* margin-top: 18%; */
        /* max-height: 35px; */
        padding: 12px;
        color: #4A134A;
        font-weight: bold;  
        }


}
