<ion-content class="bg-img" no-bounce>
  <div class="back-btn" (click)="goBack()">
    <!-- <img src="assets/imgs/payslip_back.jpg" alt="Chatbot-Icon"> -->
    <span style="color: #4A134A; font-size: 18px;"><img class="bck-btn" src="assets/imgs/bck_btn.png" alt="backbtn"> Employee Self Service</span>
  </div>
  <div class="rectangle-1">
  </div>
  <div class="rectangle-2">
  </div>
  <div class="card-align">

    <ion-card class="menu-slide">
      <ion-scroll scrollX="true">
        <span class="menu-item" style="border-bottom: 5px solid #4A134A;">
          Payslip
        </span>
        <span class="menu-item" (click)="leavedetail()">
          Manage Leave
        </span>
        <span class="menu-item">
          Tax Certificate
        </span>
      </ion-scroll>
    </ion-card>


    <ion-card class="login-card">
      <ion-card-header>
        <p class="login-style" text-center>Payslip</p>
      </ion-card-header>
      <ion-card-content>
        <p class="payslip-text-style">Select specific period to 
          <br/> download the payslip</p>
        <div class="payslip-drop">
          <!--ion-select multiple="false" placeholder="Month" disabled="true"-->
          <div class="payslip-dropdown">
            <img src="assets/imgs/drop_down.svg">
          </div>
          <ion-input readonly text-wrap class="inputBox" type="text" name="Month" placeholder="Month" [(ngModel)]="monthSelected" (ionFocus)="monthPopup()">{{monthSelected}}</ion-input>
          <!--ion-option *ngFor="let month of months">{{month.value}}</ion-option-->
          <!--/ion-select-->
          <!--ion-select multiple="false" placeholder="Year" disabled="true"-->
          <div class="payslip-dropdown">
            <img src="assets/imgs/drop_down.svg">
          </div>
          <ion-input readonly text-wrap class="inputBox" type="text" name="Year" placeholder="Year" [(ngModel)]="yearSelected" (ionFocus)="yearPopup()"></ion-input>
          <!--ion-option *ngFor="let year of years">{{year.value}}</ion-option-->
          <!--/ion-select-->
        </div>
        <button class="export-btn" ion-button color="primary" block (click)="exportPayslip()">
          <img src="assets/imgs/download_payslip.png">
        </button>
        <ion-row>
          <br/>
          <br/>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>