<!--
  Generated template for the ApplyLeavePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="bg-img" no-bounce>
  <!-- <div class="back-btn" (click)="goBack()">
      <img src="assets/imgs/bck_btn_mnge_leave.png" alt="Chatbot-Icon">
    </div> -->
  <div class="rectangle-1">
  </div>
  <div class="rectangle-2">
  </div>
  <div class="card-align">
    <ion-card class="manage-leave-card">
      <ion-card-content>
        <ion-row>
          <p class="login-style" text-left>Apply for Leave</p>
          <ion-col class="close_leave">
            <img src="assets/imgs/close_leave.png" (click)="closeClick()">
          </ion-col>
        </ion-row>
        <p class="manage-leave-text-style" text-left>Leave Type*</p>
        <img src="assets/imgs/dropdowna-arow.png" class="dropdowna-arow">
        <ion-item class="calender-text-box">
           
          <ion-select class="leave-type-text" placeholder="Select the leave" >
            
            <ion-option value="q">Annual leave</ion-option>
            <ion-option value="w">Sick leave</ion-option>
            <ion-option value="e">Parental leave</ion-option>
            <ion-option value="r">Long leave</ion-option>
            <ion-option value="t">Family responsiblity leave</ion-option>
          </ion-select>
        </ion-item>
        <!-- <ion-row class="calender-text-box" (click)="presentPopover($event)">
          <ion-col>
            <img src="assets/imgs/select_drop_down.png">
          </ion-col>
        </ion-row> -->
        <p class="manage-leave-text-style" text-left>Leave Reason*</p>
        <img src="assets/imgs/dropdowna-arow.png" class="dropdowna-arow">
        <ion-item class="calender-text-box">
          <ion-select class="leave-type-text" placeholder="Select the Reason" >
             
            <ion-option value="y">Annual leave</ion-option>
            <ion-option value="u">Sick leave</ion-option>
            <ion-option value="i">Parental leave</ion-option>
            <ion-option value="o">Long leave</ion-option>
            <ion-option value="p">Family responsiblity leave</ion-option>
          </ion-select>
        </ion-item>

        <p class="manage-leave-text-style" text-left style="margin-top: 10px;">Duration</p>
        <ion-row style="margin-top: -10px;">
          <ion-col>
            <span class="leave-type-text">Start date*</span>
          </ion-col>
          <ion-col style="margin-left: 30px;">
            <span class="leave-type-text">End date*</span>
          </ion-col>
        </ion-row>
        <ion-row class="start-end-calender-text-box" (click)="selectDuration()">
          <img src="assets/imgs/calender-icon.png">
          <ion-col>
            <span class="leave-type-text">{{startDate}}</span>
          </ion-col>
          <ion-col>
            <span class="leave-type-text">{{endDate}}</span>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 10px;">
          <ion-col style="max-width: 20% !important;">
            <span class="duration-text">Days</span>
          </ion-col>
          <ion-col style="max-width: 20% !important;">
            <span class="duration-text">Hours</span>
          </ion-col>
          <ion-col>
            <span class="duration-text">Attach file</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="max-width: 20% !important;">
            <span class="day-box">{{days}}</span>
          </ion-col>
          <ion-col style="max-width: 20% !important;">
            <span class="hours-box">00</span>
          </ion-col>
          <ion-col style="margin-top: -3px;">
            <span class="attach-box" (click)="searchClick()">
              <img src="assets/imgs/upload_icon.png"> Upload</span>
          </ion-col>
        </ion-row>
        <p class="manage-leave-text-style" style="margin-top: 10px;" text-left>Comments</p>
        <!-- <ion-row class="comments-box">
        </ion-row> -->
        <ion-item no-padding>
            <ion-textarea class="comments-box row"></ion-textarea>
        </ion-item>
        <div class="submit-leave-button">
          <!--  <button class="submit-btn" ion-button color="primary" block (click)="exportPayslip()" >
            Submit Leave
          </button> -->
          <button class="submit-btn" ion-button color="primary" block (click)="searchClick()">
            <!-- <img src="assets/imgs/payslip_download_inactive.png"> -->
            Submit Leave
          </button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>