page-apply-leave {
    .bg-img {
        background: radial-gradient(circle, #F4F4F4 0%, #828282 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
     
      }
      .rectangle-1 {
        position: absolute;
        left: 0px;
        height: 100%;
        width: 57px;
        background-color: #4A134A;
        z-index: 2;
        bottom: 0;
        top: 0;
      }
      .rectangle-2 {
        width: 90px;
        background-color: #B6D142;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        -webkit-box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.5) !important;
        box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.5) !important;
        bottom: 0;  
        }
    
    .manage-leave-card{
        border-radius: 6px !important;
        background-color: #F7F7F7 !important;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5) !important;
        position: absolute;
      //  padding-top: 20px;
        z-index: 10;
        width: calc(100% - 36px);
        top: 50%;
        margin-left: 5%;
        transform: translateY(-50%);
    }
    :host{
        padding-top: none;
    }
    
    
    .rectangle-2 p{
        margin-left: 124px;
        font-size: 20px;
    color: #4A134A;
        width: 157px;
        font-weight: 400;
        margin-top: 8px;
    
    }
    
    .scroll-content{
        padding:0px!important;
    }
    
    .login-style{
        color: #4A134A;
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: 0.04px;
        line-height: 34px;
        text-align: center;
    }
    .manage-leave-text-style{
        color: #4A134A;
        font-size: 16px;
        letter-spacing: 0.05px;
        line-height: 36px;
      //  text-align: center;
        font-weight: bold;
    }
    .calender-text-box.item-md.item-block {
        .select {
            border: 0;
            padding: 8px;
            width: 100%;
            max-width: 100%;
        }
        .item-inner{
            padding: 0;
        }
        .leave-type-text{
            font-size: 15px;
            /* font-weight: bold; 
            margin-left: 8px; */
            color: #4A134A;
        }
        // .select-md {
        //     .select-placeholder, .select-text {
        //         color: #4A134A;
        //         margin-top: 10px;
        //     }
        //     .select-icon {
        //         background-image: url("../assets/imgs/select_drop_down.png");
        //         width: 35px;
        //         height: 37px;
        //         background-size: 100%;

        //         .select-icon-inner{
        //             display: none;
        //         }
        //     }
        // }
    }
    .select-icon {
             display: none;
    }
    .dropdowna-arow{
        position: absolute;
        width: 27px;
        height: 29px;
        z-index: 1;
        /* float: right; */
        margin-left: 83%;
        margin-top: 10px;
    }
    .leave-count-number{
        font-size: 15px;
        /* font-weight: bold; */
        color: #4A134A;
        font-weight: bold;
        text-align: right;
    }
    .calender-text-box{
        border: 1px solid #4A134A;
        padding: 3px;
     //   width: 63%;
     //   background: gainsboro;
        border-radius: 6px;
        font-size: 16px;
    }
    .calender-text-box img{
        height: 31px;
        width: 30px;
        float: right;
    }

    .day-box , .hours-box{
        border: 1px solid #4A134A;
        padding: 9px;
     //   width: 63%;
     //   background: gainsboro;
        border-radius: 6px;
        font-size: 16px;
        color:#4A134A;
    }
    .attach-box{
        border: 1px solid #4A134A;
        padding: 9px;
     //   width: 63%;
     //   background: gainsboro;
        border-radius: 6px;
        font-size: 16px;
        color:#4A134A;
    }
    
    .attach-box img{
        width: 29px;
    display: initial;
        //float: left;
    }
    .comments-box{
        border: 1px solid #4A134A;
        padding: 9px;
     //   width: 63%;
     //   background: gainsboro;
        border-radius: 6px;
        font-size: 16px;
        color:#4A134A;
        height: 73px;
    }
    .close_leave img{
        height: 26px;
        width: 25px;
        float: right;
    }
    .duration-text{
    font-size: 15px;
    color: #4A134A;
    font-weight: bold;
}
    .start-end-calender-text-box{
        border: 1px solid #4A134A;
        padding: 3px;
     //   width: 63%;
     //   background: gainsboro;
        border-radius: 6px;
        font-size: 16px;
    }
    .start-end-calender-text-box img{
        height: 31px;
        width: 30px;
        float: left;
    }
    .submit-leave-button{
        position: absolute;
        width: 96%;
        margin-top: -39px;
        margin-left: 4px;
    }
    .submit-btn{
        height: 44px;
        width: 93%;
        background: #4A134A;
        border-radius: 5px;
        text-transform: none;
        font-size: 17px;
        /* margin: 0 auto; */
        color: #fff;
    }
    .card-content{
        padding: 13px 10px;
        margin-bottom: 15px;
      }
    
      /*.select{
        border: 1px solid #4A134A;
        border-radius: 4px;
        width: 150px;
        height: 53px;
    }*/
    .payslip-drop{
        padding: 30px;
        display: flex;
        justify-content: center;
        justify-content: space-between;
    }
    
    .back-btn{
    position: absolute;
      //  height: 40px;
        /* width: 30px; */
       // background: white;
        z-index: 20px;
        z-index: 10;
        margin-left: 23px;
        margin-top: 10px;
        height: 33px;
        width: 104.25px;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        padding: 8px;
     
    }
    .back-btn img{
        height: 16px !important;
        width: 79px !important;
    }
    .text-input {
        margin: 0px;
    }
    
    hr{
        height: 1px;
        border-width: 1px;
        box-sizing: content-box;
    }
    
}
