page-profile {
    .bg-img {
        background: radial-gradient(circle, #F4F4F4 0%, #828282 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
      
      }
      .rectangle-1 {
        position: absolute;
        left: 0px;
        height: 100%;
        width: 57px;
        background-color: #4A134A;
        z-index: 2;
        bottom: 0;
        top: 0;
      }
      .rectangle-2 {
        width: 90px;
        background-color: #B6D142;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        -webkit-box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.5) !important;
        box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.5) !important;
        bottom: 0;  
        }
    
    .login-card{
     
       
        background-color: #F7F7F7 !important;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
        position: absolute;
        
        z-index: 10;
        width: calc(100% - 36px);
        top: 53%;
        margin-left: 5%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    
        height: 80%;
        border-radius: 6px;
    }
    .card-md{
        margin: 0 !important;
        margin-left: 5% !important;
    }

    
    .rectangle-2 p{
        margin-left: 124px;
        font-size: 20px;
        color: #4A134A;
        width: 157px;
        font-weight: 400;
        margin-top: 8px;
    
    }
    
    .scroll-content{
        padding:0px!important;
    }
    
    .login-style{
        color: #4A134A;
        font-size: 18px;
        font-weight: bolder;
        letter-spacing: 0.05px;
        line-height: 34px;
        text-align: center;
    }
    .payslip-text-style{
        color: #4A134A;
        font-size: 14px;
        letter-spacing: 0.05px;
        line-height: 20px;
        text-align: center;
    }
    .export-btn{
        height: 44px;
        width: 46%;
        background: #4A134A;
        border-radius: 5px;
        text-transform: none;
        font-size: 15px;
        margin: 0 auto;
    }
  
    
      .select{
        border: 1px solid #4A134A;
        border-radius: 4px;
        width: 150px;
    }
    .payslip-drop{
        padding: 30px;
        display: flex;
        justify-content: center;
        justify-content: space-between;
    }
    ion-card img{
        height: 17px;
        width: 61px;
        margin: 0 auto;
    }
    ion-select {
        width: 100%;
     
    }
    .select .select-icon{
        position: relative;
        width: 45px;
        height: 46px;
        /* visibility: hidden; */
        
        background: #C8C8C8;
        border-radius: 8px;
    }
    .select .select-icon .select-icon-inner{
        left: 18px;
    }
    .card-content, p{
        color: #4A134A !important;
   
        overflow-y: scroll;
        height: 87%;
  
    }

    .card-content{
      //  padding: 13px 10px;
      }
    
    .select{
        padding: 0 !important;
    }
    .back-btn{
        position: absolute;
        /* width: 30px; */
        background: white;
        z-index: 20px;
        z-index: 10;
        margin-left: 23px;
        margin-top: 10px;
        height: 33px;
        //width: 104.25px;
        border-radius: 15px;
        background-color: #F2F2F2;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        padding: 8px;
  
}

.text-weight{
    font-weight: bold;
}
}
