<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="bg-img" no-bounce>
    <div class="back-btn" (click)="goBack()">
       <span style="color: #4A134A; font-size: 18px;"><img class="bck-btn" src="assets/imgs/bck_btn.png" alt="backbtn"> Personal Details</span>
    </div>
    <!--div class="back-btn" (click)="goBack()">
        <img src="assets/imgs/pers_backicon.png" alt="Profile-Icon">
    </div-->
    <div class="rectangle-1">
    </div>
    <div class="rectangle-2">
    </div>
    <div class="card-align">
      <ion-card class="login-card">
        <ion-card-header>
          <p class="login-style" text-center>Profile Information</p>
        </ion-card-header>
        <ion-card-content >
          <ion-row>
            <ion-col col-4 class="text-weight">Name</ion-col>
            <ion-col col>{{name}}</ion-col>
          </ion-row>
          <hr />
          <!--ion-row>
            <ion-col col-4 class="text-weight">Language</ion-col>
            <ion-col col>{{language}}</ion-col>
          </ion-row>
          <hr />
          <ion-row>
            <ion-col col-4 class="text-weight">Work Phone</ion-col>
            <ion-col col>{{work_phone}}</ion-col>
          </ion-row>
          <hr />
          <ion-row>
            <ion-col col-4 class="text-weight">Email Address</ion-col>
            <ion-col col>{{email_address}}</ion-col>
          </ion-row>
          <hr />
          <ion-row>
            <ion-col col-4 class="text-weight">Location</ion-col>
            <ion-col col>{{location}}</ion-col>
          </ion-row>
          <hr /-->
          <ion-row>
            <ion-col col-4 class="text-weight">Organization</ion-col>
            <ion-col col>{{organization}}</ion-col>
          </ion-row>
          <hr />
          <ion-row>
            <ion-col col-4 class="text-weight">Supervisor Name</ion-col>
            <ion-col col>{{supervisor_name}}</ion-col>
          </ion-row>
          <!--hr />
          <ion-row>
            <ion-col col-4 class="text-weight">Location Address</ion-col>
            <ion-col col>{{location_address}}</ion-col>
          </ion-row-->
  
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
