<!--
  Generated template for the LeavesdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="bg-img" no-bounce>
  <!--div class="back-btn" (click)="goBack()">
    <img src="assets/imgs/bck_btn_mnge_leave.png" alt="Chatbot-Icon">

  </div-->
  <div class="back-btn" (click)="goBack()">
    <span style="color: #4A134A; font-size: 18px;"><img class="bck-btn" src="assets/imgs/bck_btn.png" alt="backbtn"> Employee Self Service</span>
 </div>
  <div class="rectangle-1">
  </div>
  <div class="rectangle-2">
  </div>

  <ion-card class="menu-slide">
    <ion-scroll scrollX="true">
      <span class="menu-item" (click)="payslip()">
        Payslip
      </span>
      <span class="menu-item" style="border-bottom: 5px solid #4A134A;">
        Manage Leave
      </span>
      <span class="menu-item">
        Tax Certificate
      </span>
    </ion-scroll>
</ion-card>

  <div class="card-align">
    
    <ion-card class="manage-leave-card">
      <ion-card-content>
          <p class="login-style" text-left>Leave Balances</p>
          <p class="manage-leave-text-style" text-left>Effective Date</p>
          <ion-row class="calender-text-box" (click)="selectDate()">
        
           <!--span style="display: flex!important;align-content: center!important;align-items: center!important;">{{currentDate}} 
           <img src="assets/imgs/calender-icon.png"></span--> 
           <span style="width: 70%; display: flex!important;align-content: center!important;align-items: center!important; float:left;">{{currentDate}} </span> 
           <img style="float:right;" src="assets/imgs/calender-icon.png">
    
</ion-row>
        <p class="manage-leave-text-style" style="margin-top:15px;" text-left>Current Leave Balances</p>
        <ion-row>
          <ion-col><span class="leave-type-text">Annual leave</span></ion-col>
          <ion-col class="leave-count-number">{{annualLeave}}</ion-col>
        </ion-row>
        <hr/>
        <ion-row>
          <ion-col><span class="leave-type-text">Sick leave</span></ion-col>
          <ion-col class="leave-count-number">{{sickLeave}}</ion-col>
        </ion-row>
        <hr/>
        <ion-row>
          <ion-col><span class="leave-type-text">Parental leave</span></ion-col>
          <ion-col class="leave-count-number">{{parentalLeave}}</ion-col>
        </ion-row>
        <hr/>
        <ion-row>
          <ion-col><span class="leave-type-text">Long leave</span></ion-col>
          <ion-col class="leave-count-number">{{longLeave}}</ion-col>
        </ion-row>
        <hr/>
        <ion-row>
          <ion-col><span class="leave-type-text">Family responsiblity leave</span></ion-col>
          <ion-col class="leave-count-number">{{familyResponsibilityLeave}}</ion-col>
        </ion-row>
        <hr/>
        <!-- <div class="payslip-drop">
       <div class="payslip-dropdown">
         <img src="assets/imgs/drop_down.svg">
       </div>
        <ion-input readonly text-wrap class="inputBox" type="text" name="Month" placeholder="Month" [(ngModel)]="monthSelected" (ionFocus)="monthPopup()">{{monthSelected}}</ion-input>
        
        <div class="payslip-dropdown">
            <img src="assets/imgs/drop_down.svg">
          </div>
        <ion-input readonly text-wrap class="inputBox" type="text" name="Year" placeholder="Year" [(ngModel)]="yearSelected" (ionFocus)="yearPopup()"></ion-input>        
      </div> -->
      <div class="apply-leave-button">
        <button class="export-btn" ion-button color="primary" block (click)="applyLeave()">
          <!-- <img src="assets/imgs/payslip_download_inactive.png"> -->
          Apply for Leave
        </button>
      </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
