<ion-content>
    <div  [ngClass]="{'rectangle-1':!recthide, 'rectangle-1-open': recthide }">
      <div class="tfg-logo" style="text-align: center; margin-top:5px;" *ngIf="!recthide">
        <img src="assets/imgs/TFG_Logo.png" alt="TFG-Logo">
      </div>
      <div class="menu-item" *ngIf="recthide">
        <div class="user-info">
          <span>
            <!--img src="assets/imgs/User-Pic.png"-->
            <img *ngIf="imageStatus" class="circle-pic" [src]="_DomSanitizer.bypassSecurityTrustUrl(user_pic)">
            <img *ngIf="!imageStatus" class="circle-pic" src="assets/imgs/no_image.png">
          </span>
          <p>{{name}}</p>
          <span>{{organization}}</span>
        </div>
  
        <button (click)="personalDataClick()" class="accordion" [ngClass]="{'search_style_nomargin': !showMSSHide, 'active':showPDHide}">
          <img src="assets/imgs/list-menu.png"><span>Personal Details</span></button>
        <div class="panel accordion:hover" [ngClass]="{'unhide ':showPDHide, 'hide': !showPDHide}">
            <ul style="border-top: 2px solid #4A134A;">
                <li (click)="callProfilePage()">My Profile</li>
            </ul>
        </div>

        <button (click)="managerSelfServClick()" class="accordion" [ngClass]="{'search_style_nomargin': !showPDHide, 'search_style_MSS': showPDHide, 'active':showMSSHide}">
            <img src="assets/imgs/list-menu.png"><span>Manager Self Service</span></button>
          <div class="panel accordion:hover" [ngClass]="{'unhide ':showMSSHide, 'hide': !showMSSHide}">
              <ul style="border-top: 2px solid #4A134A;">
                  <li (click)="callWorklistPage()">Worklist</li>
                  <li (click)="searchClick()">Lorem ipsum</li>
                  <li (click)="searchClick()">Lorem ipsum</li>
              </ul>
          </div>
  
        <!--button class="accordion" [ngClass]="{'search_style_nomargin': !showPDHide, 'search_style': showPDHide}" (click)="searchClick()">
          <img src="assets/imgs/list-menu.png"><span>Manager Self Service</span> </button>
        <div class="panel">
        </div-->
  
        <button (click)="accordanceClick()" class="accordion" [ngClass]="{'search_style_nomargin': !showMSSHide, 'search_style': showMSSHide, 'active':showHide}">
          <img src="assets/imgs/list-menu.png"><span>Employee Self Service</span> </button>
        <div class="panel accordion:hover" [ngClass]="{'unhide ':showHide, 'hide': !showHide}">
          <ul style="border-top: 2px solid #4A134A;">
            <li (click)="callPayslipPage()">Payslip</li>
            <li (click)="callLeavesdetails()">Manage Leave</li>
            <li (click)="searchClick()">Tax Certificate</li>
          </ul>
        </div>
        <div class="version">Ver. {{_appVersion}}</div>
      </div>
  
  
      <div class="toggle-btn">
          <img *ngIf="!recthide" src="assets/imgs/bot-icon-home.svg" alt="Chatbot-Icon" (click)="callChatbotPage()">
          <img *ngIf="!recthide" src="assets/imgs/search-tgl.svg" alt="Search-Icon" (click)="searchClick()">
          <img *ngIf="!recthide" src="assets/imgs/logout.svg" alt="Logout-Icon" style="width: 22px; margin-bottom: 30px;" (click)="logout()">
        <!--img src="assets/imgs/chatbot-tgl.png" alt="Chatbot-Icon" (click)="callChatbotPage()">
        <img src="assets/imgs/search-tgl.png" alt="Search-Icon" (click)="searchClick()">
        <img src="assets/imgs/logout.png" alt="Logout-Icon" style="width: 22px;" (click)="logout()"-->
      </div>
    </div>
    <div class="t-btn" (click)="hidediv()">
      <div class="menuButton">
        <img src="assets/imgs/tgl-btn.png" alt="Toggle-Button">
        <!-- <ion-icon name="menu"></ion-icon>  -->
      </div>
    </div>
    <!-- <ion-menu [content]="mycontent">
      <ion-content>
        
      </ion-content>
    </ion-menu>  -->
    <!-- 
    <ion-nav #mycontent type="overlay"></ion-nav>  -->
    <!-- <div class="rectangle-2">
    </div> -->
  
  
  
    <div class="bg-img" (click)="closeDrawer()">
      <div style="width: 80%;margin-left: 80px; padding-top: 5px;">
        <p class="title">Employee Self Service Hub</p>
        <img *ngIf="imageStatus" [src]="_DomSanitizer.bypassSecurityTrustUrl(user_pic)" class="circle-pic" style="height:52px; width:52px; float: right; margin-top: -72px; margin-right: 20px;">
        <img *ngIf="!imageStatus" src="assets/imgs/no_image.png" class="circle-pic" style="height:52px; width:52px; float: right; margin-top: -72px; margin-right: 20px;">
        <!--img src="assets/imgs/User-Pic.png" style="height:52px; width:52px; float: right; margin-top: -72px; margin-right: 20px;"-->
      </div>
  
      <div style="padding-right: 15px; padding-top: 15px; padding-left: 91px; width: 100%;">
        <p style="color:#4A134A; font-size: 16px; margin-left: 10px; margin-top: -10px;">Recent visits</p>
        <ion-scroll class="ionscroll" scrollX="true" direction="x">
          <ion-slides pager="true">
            <ion-slide *ngFor="let item of listCardsItems; let i=index;">
              <ion-card class="ioncard">
                <ion-card-content text-center>
                  <ion-card-title style="font-size:14px; font-weight: bold;">
                    {{ item.title }}
                  </ion-card-title>
                  <p style="font-size:12px;">View payslip</p>
                  <button ion-item text-center (click)="downloadPlayslip(i)">
                    <img style="width: 40px;height: 30px;margin-left: 30%;" src="assets/imgs/download_inactive.svg">
                    <!--img style="width: 40px;height: 30px;margin-left: 38%;" src="assets/imgs/download_inactive.svg"-->
                    <p style="font-size: 11px; color: #4A134A;">Download</p>
                  </button>
                </ion-card-content>
              </ion-card>
            </ion-slide>
  
          </ion-slides>
        </ion-scroll>
  
        <p style="color:#4A134A; font-size: 16px; margin-left: 10px;">Worklist</p>
        <ion-card class="section-card" (click)="searchClick()">
          <ion-card-header style="font-size: 13px; padding-bottom: 5px;">
            Pending
          </ion-card-header>
          <hr style="margin-left: 15px;margin-right: 15px; background-color:#808080;">
          <ion-card-content class="card-content" style="padding-top: 5px;">
            <ion-row>
              <ion-col col-3>
                <p style="font-size:11px;">Leave approval</p>
              </ion-col>
              <ion-col col-1 style="padding-top: 0px;">
                <hr style="height: 30px; background-color: #4A134A; width: 1px;">
              </ion-col>
              <ion-col col-4>
                <p style="font-size:11px; font-weight: bolder;">Start date</p>
                <p style="font-size:11px;">XX-XX-XX</p>
              </ion-col>
              <ion-col col-4>
                <p style="font-size:11px; font-weight: bolder;">End date</p>
                <p style="font-size:11px;">XX-XX-XX</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
  
        <ion-card class="section-card" (click)="searchClick()">
          <ion-card-header style="font-size: 13px; padding-bottom: 5px;">
            Completed
          </ion-card-header>
          <hr style="margin-left: 15px;margin-right: 15px; background-color:#808080;">
          <ion-card-content class="card-content" style="padding-top: 5px;">
            <ion-row>
              <ion-col col-3>
                <p style="font-size:11px;">HR query</p>
              </ion-col>
              <ion-col col-1 style="padding-top: 0px;">
                <hr style="height: 30px; background-color: #4A134A; width: 1px;">
              </ion-col>
              <ion-col col-4>
                <p style="font-size:11px; font-weight: bolder;">Assigned</p>
                <p style="font-size:11px;">XX-XX-XX</p>
              </ion-col>
              <ion-col col-4>
                <p style="font-size:11px; font-weight: bolder;">Resolved</p>
                <p style="font-size:11px;">XX-XX-XX</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
  
      </div>
    </div>
  </ion-content>