page-home {
    .rectangle-1 {
        position: absolute;
        height: 100%;
        background-color: #4A134A;
        z-index: 2;
        width:20%;
        overflow:hidden;
        -webkit-transition: width 0.10s ease-in-out;
        -moz-transition: width 0.10s ease-in-out;
        -o-transition: width 0.10s ease-in-out;
        transition: width 0.10s ease-in-out;
        height:100vh;
        border-right: 20px solid #B6D142;
        box-shadow: 3px 0 8px 0 rgba(0,0,0,0.5) !important;
    }

    .rectangle-1-open {
        position: absolute;
        height: 100%;
        background-color: #4A134A;
        z-index: 2;
        width:80%;
        overflow:hidden;
        -webkit-transition: width 0.10s ease-in-out;
        -moz-transition: width 0.10s ease-in-out;
        -o-transition: width 0.10s ease-in-out;
        transition: width 0.10s ease-in-out;
        height:100vh;
        border-right: 20px solid #B6D142;
        box-shadow: 3px 0 8px 0 rgba(0,0,0,0.5) !important;
    }

    /*.rectangle-1:hover {
        width:80%;
    }*/
    .rectangle-1_hide {
        position: absolute;
        left: 0px;
        height: 100%;
        width: 57px;
        background-color: #4A134A;
        z-index: 0;
    }
    .rectangle-2 {
        width: 75px;
        background-color: #B6D142;
        position: absolute;
        left: 0px;
        top: 1px;
        height: 100%;
        box-shadow: 3px 0 8px 0 rgba(0,0,0,0.5) !important;
        transition: width 2s;
        -webkit-transition: width 2s
        }
        // .md ion-menu[type=overlay] .menu-inner{
        //     visibility: hidden !important;
        //     opacity: 0 !important;
        //     transition: visibility 0s 2s, opacity 2s linear !important;
        // }   
    
        .menu-inner{
        // left: 52px !important;  
        // width: 267px;
        }



        .title{
            margin-left: 20px;
            font-size: 24px;
            color: #4A134A;
            width: 157px;
            font-weight: 400;
            margin-top: 8px;
        
        }
        .bg-img {
            background: radial-gradient(circle, #F4F4F4 0%, #828282 100%);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;
            height: 100%;
        }
        .tfg-logo img{
            margin: 5px;
            height: 49px;
        }
    .toggle-btn{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        /* width: fit-content; */
        align-items: center;
        position: absolute;
        bottom: 40px;
    }
    .toggle-btn img{
        margin: 10px;
        margin-left: 16px;
        width: 23px;
    }
    .scroll-zoom-wrapper {
        white-space: nowrap;
    }

    .ioncard {
        width: 160px !important;
        //width: 80% !important;
        height: 145px !important;
        display: inline-block;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        margin-bottom: 0px;
        border-radius: 4px;
    }

    .ionscroll {
        margin-top: -15px;
        width: 100%;
        min-height: 160px; 
        height: 200px !important;
        height: auto;
    }

            .scroll-content {
            padding: 0px !important;
        }

    .section-card{
        width: 100%;
        margin: 0px;
        margin-bottom: 15px;
        border: solid 1px gray;
        font-size: 1.0em;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        border-radius: 4px;
        }
    .section-card ion-card-header{
            padding: 10px;
            color: #4A134A;
            font-size: 13px;
        }
        //sidemenu style
        .menu-item{
            display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
        padding-top: 17px;
       // border-right: 25px solid #B6D142;
        background: #4A134A;
        color: #fff;
        font-size: 16px;
        }
        ion-menu[side=left] > .menu-inner{
            // left: -220px;
            // width: 535px;
            // position: fixed;
        }
        .menu-inner{
            // position: fixed;
            // width: 104px;
        }
        ion-menu[type=overlay] .menu-inner{
        // left:30px !important;

        }
        ion-menu[type=overlay]{
            z-index: 5;
            
            // width: 100px;
            // height: 100%;
            // background: red;
        //  opacity: 0.45;
        //   opacity: 0 !i;
    // transform: translateX(30px);
    will-change: transform, opacity;
    //translateX(30px);
            // transition: width 2s;
            // transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
        }
        .t-btn{
            position: absolute;
            z-index: 20;
            position: absolute;
    //  z-index: 20;
        bottom: 11px;
        left: 13px;
        box-shadow: none;
        background: #4A134A;
        }
        .button:hover:not(.disable-hover){
            background-color: transparent;
            box-shadow: none;
        }
        .button{
            background-color: transparent;
        }
        .user-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 9px;
        }
        .user-info img{
            width: 104px;
            height: 100px;
        }

        .user-info p{
            font-size: 16px;
            font-weight: 600;
            line-height: 0;
        }
        .slide-zoom{
            //width: 180px !important;
            width: 100% !important;
        }
        .swiper-pagination,.swiper-pagination-clickable,.swiper-pagination-bullets{
            margin-bottom: 8px;
        }
        .swiper-container .swiper-container-horizontal{
            height: 200px;
        }
        .scroll-zoom-wrapper{
            height: 200px !important;
        }
        .swiper-slide { overflow-y: scroll; display: block; }
        .swiper-slide-active {
            //padding-left: 15%;
            //padding-left: 22%;
        }
        .swiper-slide-next {
            
        }
        .swiper-slide-prev{
        }
        .swiper-pagination-bullet-active{
            background: #4A134A;
        }

    /// accordian style 
    .accordion {
        background-color: transparent;
        color: #fff;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }
    
    .active, .accordion:hover {
        background-color: #2D052D;
    }
    
    .accordion:after {
        content: '\002B';
        color: #fff;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
    
    .active:after {
        content: "\2212";
    }
    
    .panel {
    //  padding: 0 18px;
        background-color: transparent;
        max-height: 0;
    // overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    .search_style {
        margin-top: 150px !important;
    }
    .search_style_MSS{
        margin-top: 50px;
    }
    .search_style_nomargin {
        margin-top: 0px !important;
    }
    .panel p{
        margin-left: 15%;
    }
    ul{
        list-style-type:none;
        padding:0px;
        margin:0px;  
    }
    li{
        list-style: none;
        background-image: none;
        background-repeat: none;
        background-position: 0;
        padding-left: 59px;
        /* margin-left: 20px; */
        background-color: #2D052D;
        /* margin: 8px; */
        height: 50px;
        border-bottom: 2px solid #4A134A;
        padding-top: 14px;
    }
    button {
        align-items: baseline;
    }

    .version {
        text-align: center;
        bottom: 0;
        position: absolute;
        width: 100%;
        margin-bottom: 15px;
    }
    .accordion span{
      
        margin-left: 20px;
    position: absolute;
    margin-top: 2px;
    font-size: 17px;
    }
    .accordion img{
        width: 20px;
    }
    .hide {
        visibility: hidden;
    } 
    .unhide {
        visibility: visible;
    } 

    .circle-pic{
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    
    }