<ion-content class="bg-img" no-bounce>
  <div class="back-btn" (click)="goBack()">
    <span style="color: #4A134A; font-size: 18px;"><img class="bck-btn" src="assets/imgs/bck_btn.png" alt="backbtn"> Manager Self Service</span>
  </div>
  <div class="rectangle-1">
  </div>
  <div class="rectangle-2">
  </div>

  <ion-card class="menu-slide">
    <ion-scroll scrollX="true">
      <span class="menu-item" style="border-bottom: 5px solid #4A134A;">
        Worklist
      </span>
      <span class="menu-item">
        Lorem ipsm
      </span>
      <span class="menu-item">
        Lorem ipsm
      </span>
    </ion-scroll>
  </ion-card>
  <div class="card-align">
    
    <ion-card class="worklist-card">
      <ion-row>
        <ion-col size='6' (click)="Worklist()" class="request-summery">
          Request list
        </ion-col>
        <ion-col size='6' style="border-bottom: 5px solid #4A134A;" class="request-summery">
          Summary list
        </ion-col>
      </ion-row>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <p>
              <span class="leave-type-text">Annual leave request from</span>
              <span class="leave-request-name">Elna Delite</span>
            </p>
          </ion-col>
          <ion-col>
            <p class="request-status">
              <span class="status-approve"></span>Approved</p>
            <p class="request-status status-date">20 May 2019</p>
          </ion-col>
        </ion-row>
        <hr />
        <ion-row>
          <ion-col>
            <p>
              <span class="leave-type-text">Sick leave request from</span>
              <span class="leave-request-name">Edward John</span>
            </p>
          </ion-col>
          <ion-col>
            <p class="request-status">
              <span class="status-approve"></span>Approved</p>
            <p class="request-status status-date">20 May 2019</p>
          </ion-col>
        </ion-row>
        <hr />
        <ion-row>
          <ion-col>
            <p>
              <span class="leave-type-text">Sick leave request from</span>
              <span class="leave-request-name">John Walker</span>
            </p>
          </ion-col>
          <ion-col>
            <p class="request-status">
              <span class="status-approve"></span>Approved</p>
            <p class="request-status status-date">18 May 2019</p>
          </ion-col>
        </ion-row>
        <hr />
        <ion-row>
          <ion-col>
            <p>
              <span class="leave-type-text">Sick leave request from</span>
              <span class="leave-request-name">Ethan Matt</span>
            </p>
          </ion-col>
          <ion-col>
            <p class="request-status">
              <span class="status-reject "></span>Rejected</p>
            <p class="request-status status-date">20 May 2019</p>
          </ion-col>
        </ion-row>
        <hr />
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>