page-worklist {

    .bg-img {
        background: radial-gradient(circle, #F4F4F4 0%, #828282 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
      }
      .rectangle-1 {
        position: absolute;
        left: 0px;
        height: 100%;
        width: 57px;
        background-color: #4A134A;
        z-index: 2;
        bottom: 0;
        top: 0;
      }
      .rectangle-2 {
        width: 90px;
        background-color: #B6D142;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        -webkit-box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.5) !important;
        box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.5) !important;
        bottom: 0;  
        }
    
    .worklist-card{
        border-radius: 6px !important;
        background-color: #F7F7F7 !important;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5) !important;
        position: absolute;
        z-index: 10;
        width: calc(100% - 36px);
        height: 67%;
        top: 56%;
        margin-left: 5%;
        transform: translateY(-50%);
    }

    .card-content{
        padding: 0%;
    }
    .rectangle-2 p{
        margin-left: 124px;
        font-size: 20px;
        color: #4A134A;
        width: 157px;
        font-weight: 400;
        margin-top: 8px;
    
    }
    .back-btn{
        position: absolute;
          //  height: 40px;
            /* width: 30px; */
           // background: white;
            z-index: 20px;
            z-index: 10;
            margin-left: 23px;
            margin-top: 10px;
            //height: 33px;
            //width: 104.25px;
            border-radius: 15px;
            background-color: #ffffff;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
            padding: 8px;
         
        }
 




    .login-style{
        color: #4A134A;
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: 0.04px;
        line-height: 34px;
        text-align: center;
    }
    .segment .segment-button{
        color:#4A134A;
        text-transform: initial;
        font-size: 16px;
        font-weight: bold;
    }
    .segment.segment-disabled, .segment .segment-button-disabled{
        opacity: 1 !important;
    }
    .request-status{
        text-align: center;
        color:#4A134A;
        font-size: 15px;
    }
    .leave-type-text{
        font-size: 15px;
        /* font-weight: bold; */
        color: #4A134A;
        
    }
    .leave-request-name{
        font-size: 15px;
        font-weight: bold;
        color: #4A134A;

    }
       
    hr{
        
        border: .4px solid #dbdbdb;
    }

    ion-scroll {
        white-space: nowrap;
        /* height: 55px; */
        margin-top: 16px;
        padding: 18px;
    }
    .menu-slide{
        z-index: 20;
        width: calc(100% - 36px);
        position: absolute;
    margin-top: 18%;
    margin-left: 5%;
    border-radius: 6px;
    background: #f7f7f7;
    }
    .menu-item{
         /* width: 30%; */
    font-size: 17px;
    margin-left: 7px;
    /* margin-top: 18%; */
    /* max-height: 35px; */
    padding: 12px;
    color: #4A134A;
    font-weight: bold;  
    }
    .card p{
        line-height: 16px;
    }
        .request-summery{
            text-align: center;
            padding: 10px;
            font-size: 16px;
            font-weight: bold;
            color:#4A134A;
    }
    .status-pending{
        height: 12px;
        width: 12px;
        background-color: #FA9917;
        border-radius: 50%;
        display: inline-block;
        margin-right: 7px;
    }
    .status-date{
        font-size: 12px;
        font-style: italic;
    }
    .leave-requset{
        background:#C8C8C8;
        padding: 11px;
        margin-top: 10px;
    }
    
}
