<!--
  Generated template for the WorklistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="bg-img" no-bounce>
  <div class="back-btn" (click)="goBack()">
    <span style="color: #4A134A; font-size: 18px;"><img class="bck-btn" src="assets/imgs/bck_btn.png" alt="backbtn"> Manager Self Service</span>
  </div>
  <div class="rectangle-1">
  </div>
  <div class="rectangle-2">
  </div>
  <div class="card-align">
    <!-- 
          <ion-row>
            <ion-col>
                content
            </ion-col>
            <ion-col>
                content
            </ion-col>
            <ion-col>
                content
            </ion-col>
          </ion-row> -->
    <ion-card class="menu-slide">
      <ion-scroll scrollX="true">
        <span class="menu-item" style="border-bottom: 5px solid #4A134A;">
          Worklist
        </span>
        <span class="menu-item">
          Lorem ipsm
        </span>
        <span class="menu-item">
          Lorem ipsm
        </span>
      </ion-scroll>
    </ion-card>


    <ion-card class="worklist-card">

      <!-- <ion-segment (ionChange)="segmentChanged($event)" disabled>
        <ion-segment-button value="sunny" checked>
          <ion-label>Request list</ion-label>
        </ion-segment-button>
        <ion-segment-button value="rainy">
          <ion-label>Summery list</ion-label>
        </ion-segment-button>
      </ion-segment> -->


      
      <ion-row>
        <ion-col size='6' style="border-bottom: 5px solid #4A134A;" class="request-summery">
            Request list
        </ion-col>
        <ion-col size='6' (click)="summarylist()" class="request-summery">
            Summary list
        </ion-col>
      </ion-row>
      <ion-card-content>
        
        <ion-row (click)="leaverequest()" class="leave-requset">
          <ion-col>
            <p>
              <span class="leave-type-text">Annual leave request from</span>
              <span class="leave-request-name">Elna Delite</span>
            </p>
          </ion-col>
          <ion-col>
            <p class="request-status">
              <span class="status-pending status-reject status-approve"></span>Pending</p>
            <p class="request-status status-date">20 May 2019</p>
          </ion-col>
        </ion-row>
        <hr />
        <ion-row style="padding: 11px;">
          <ion-col>
            <p>
              <span class="leave-type-text">Sick leave request from</span>
              <span class="leave-request-name">Edward John</span>
            </p>
          </ion-col>
          <ion-col>
              <p class="request-status">
                  <span class="status-pending status-reject status-approve"></span>Pending</p>
            <p class="request-status status-date">20 May 2019</p>
          </ion-col>
        </ion-row>
        <hr />
        <ion-row style="padding: 11px;">
          <ion-col>
            <p>
              <span class="leave-type-text">Annual leave request from</span>
              <span class="leave-request-name">John Walker</span>
            </p>
          </ion-col>
          <ion-col>
              <p class="request-status">
                  <span class="status-pending status-reject status-approve"></span>Pending</p>
            <p class="request-status status-date">18 May 2019</p>
          </ion-col>
        </ion-row>
        <hr />
    
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>