// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-app {
    font-family: arial !important;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
.toastMessageClass{
  .toast-wrapper {
    background: transparent;
    opacity: 0.8;
    width: 80%;
    margin-bottom: 40%;
    border-radius: 20px;
    text-align: center;
  }
  .toast-message {
    font-size: 2.0rem;
    color: #4A134A;
  }
}

.loadingCssClass {
  ion-backdrop {
      height: 100%;
      width: 100%;
      opacity: 0.75 !important;
  }
}