<!--
  Generated template for the CalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding style="background-color: #282828;">

    <div>
        <ion-card class="manage-leave-card">
          <ion-card-content style="margin-bottom: 15px;">
            <div>
            <p class="manage-leave-text-style" text-left>Select specific accrual</p>
            <img src="assets/imgs/close.png" style="float:right; width: 20px;height: 20px; margin-top: 8px;" (click)="closeClick()">
          </div>
              <ion-row class="calender-text-box">
                <span style="width: 70%; display: flex !important;align-content: center !important;align-items: center !important; float:left;">{{currentDate}} </span> 
                <img style="float:right;" src="assets/imgs/calender-icon.png">
              </ion-row>
          <ionic-calendar-date-picker [backgroundStyle]="{ 'background-color': '#F7F7F7' }" [dayLabelsStyle]="{'color': '#4A134A', 'font-weight': 'bold'}" [todaysItemStyle]="{'font-weight': 'bold', 'color': '#B40404'}" [itemSelectedStyle]="{ 'background': '#4A134A', 'color': '#ffffff', 'border-radius': '6px' }" (onSelect)="dateSelected($event)" ></ionic-calendar-date-picker>

          <div class="done-button">
              <button class="export-btn" ion-button color="primary" block (click)="doneClick()">
                <!-- <img src="assets/imgs/payslip_download_inactive.png"> -->
                Done
              </button>
            </div>

        </ion-card-content>
      </ion-card>
    </div>
</ion-content>
