page-calendar {
    .manage-leave-card{
        border-radius: 6px !important;
        background-color: #F7F7F7 !important;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5) !important;
        position: absolute;
      //  padding-top: 20px;
        z-index: 10;
        width: calc(100% - 36px);
        top: 50%;
        //margin-left: 5%;
        transform: translateY(-50%);
    }
    .card-content{
        padding: 13px 10px;
      }
    .card-md {
        margin: 0px !important;
    }
    .manage-leave-text-style{
        color: #4A134A;
        font-size: 16px;
        letter-spacing: 0.05px;
        line-height: 36px;
      //  text-align: center;
        font-weight: bold;
        float: left;
    }
    .calender-text-box{
        border: 1px solid #000;
        padding: 8px;
        width: 180px;
        background: gainsboro;
        border-radius: 6px;
        font-size: 16px;
        margin-top: 20%;
        margin-bottom: 25px;
    }
    .calender-text-box img{
        margin-left: 18px;
        height: 26px;
        width: 28px;
        display: initial;
    }

    .done-button{
        text-align: center;
        margin-top: 10%;
    }
    .export-btn{
        height: 44px;
        width: 63%;
        background: #4A134A;
        border-radius: 5px;
        text-transform: none;
        font-size: 17px;
        margin:0 auto;
        display:block;
        /* margin: 0 auto; */
        color: #fff;
    }
    .content {
        color: transparent
    }
    ion-row {
        color: #000;
    }
   
}
