<!--
  Generated template for the LeaveRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="bg-img" no-bounce>
    <!-- <div class="back-btn" (click)="goBack()">
      <img src="assets/imgs/bck_btn_mnge_leave.png" alt="Chatbot-Icon">
  
    </div> -->
    <div class="rectangle-1">
    </div>
    <div class="rectangle-2">
    </div>
    <div class="card-align">
      <ion-card class="manage-leave-card">
        <ion-card-content>
          <span (click)="goBack()">
          <img class="bck-btn" src="assets/imgs/bck_btn.png" alt="backbtn">
          <p class="annual-leave" text-left>Leave Request</p>
          </span>
          <ion-row>
            <p class="manage-leave-text-style" text-left>Employee name</p>
          </ion-row>
          <ion-row>
            <p class="text-color">Elna Delite</p>
          </ion-row>
          <hr />
          <ion-row>
            <p class="manage-leave-text-style" text-left>Absence type</p>
          </ion-row>
          <ion-row>
            <p class="text-color">Annual leave</p>
          </ion-row>
          <hr />
          <ion-row>
            <p class="manage-leave-text-style" text-left>Duration</p>
          </ion-row>
          <ion-row>
            <ion-col class="text-color">Start date <br /> 17 Thur,May'19</ion-col>
            <ion-col class="text-color">End date<br /> 20 Fri,May'19</ion-col>
          </ion-row>
          <hr />
          <ion-row>
            <ion-col size="3"><span class="manage-leave-text-style" text-left>Days</span></ion-col>
            <ion-col size="9"><span class="manage-leave-text-style" text-center>Support document</span></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3"><span class="text-color" text-left>03</span></ion-col>
            <ion-col size="9"><span class="text-color" class="File-upload">Filename.jpg</span></ion-col>
          </ion-row>
          <ion-row>
            <p class="manage-leave-text-style">Action history</p>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="text-color" text-left>Elane Delite</p>
            </ion-col>
            <ion-col class="text-color">Submitted on <br />18 Thur, Apr'19</ion-col>
          </ion-row>
          <hr />
          <ion-row>
            <ion-col>
              <p class="text-color" text-left>Mannuel Jake</p>
            </ion-col>
            <ion-col>
              <p class="text-color">Pending</p>
            </ion-col>
          </ion-row>
          <p class="manage-leave-text-style" text-left>Note</p>
          <ion-row class="comments-box">
          </ion-row>
          <ion-row>
            <ion-col text-center>
              <button class="reject-btn" ion-button color="primary" block (click)="exportPayslip()">
          
                Reject
              </button>
            </ion-col>
            <ion-col text-center>
              <button class="export-btn" ion-button color="primary" block (click)="exportPayslip()">
          
                Approve
              </button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>