page-leave-request {

    .bg-img {
        background: radial-gradient(circle, #F4F4F4 0%, #828282 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
     
      }
      .rectangle-1 {
        position: absolute;
        left: 0px;
        height: 100%;
        width: 57px;
        background-color: #4A134A;
        z-index: 2;
        bottom: 0;
        top: 0;
      }
      .rectangle-2 {
        width: 90px;
        background-color: #B6D142;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        -webkit-box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.5) !important;
        box-shadow: 3px 0 8px 0 rgba(0, 0, 0, 0.5) !important;
        bottom: 0;  
        }
    
    .manage-leave-card{
        border-radius: 6px !important;
        background-color: #F7F7F7 !important;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5) !important;
        position: absolute;
      //  padding-top: 20px;
        z-index: 10;
        width: calc(100% - 36px);
        top: 50%;
        margin-left: 5%;
        transform: translateY(-50%);
        max-height: 93%;
        
        overflow-y: scroll;
    }
    :host{
        padding-top: none;
    }
    
    
    .rectangle-2 p{
        margin-left: 124px;
        font-size: 20px;
    color: #4A134A;
        width: 157px;
        font-weight: 400;
        margin-top: 8px;
    
    }
    
    .scroll-content{
        padding:0px!important;
    }
    
    .annual-leave{
        color: #4A134A;
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: 0.04px;
        line-height: 34px;
        text-align: center;
        margin-left: 32px;
        margin-top: -6px;
    }
    .manage-leave-text-style{
        color: #4A134A;
        font-size: 15px;
        letter-spacing: 0.05px;
        line-height: 36px;
      //  text-align: center;
        font-weight: bold;
    }
    .leave-type-text{
        font-size: 15px;
        /* font-weight: bold; */
        color: #4A134A;
        
    }
    .leave-count-number{
        font-size: 15px;
        /* font-weight: bold; */
        color: #4A134A;
        font-weight: bold;
        text-align: right;
    }
    .calender-text-box{
        border: 1px solid #4A134A;
        padding: 8px;
        width: 63%;
        background: gainsboro;
        border-radius: 6px;
        font-size: 16px;
    }
    .calender-text-box img{
    
    height: 28px;
        width: 42px;
        display: initial;
    }
    .apply-leave-button{
        text-align: center;
    }
    .export-btn{
        height: 44px;
        width: 94%;
        background: #4A134A;
        border-radius: 5px;
        text-transform: none;
        font-size: 17px;
        /* margin: 0 auto; */
        color: #fff;
        text-align: center;
        margin-top: 15px;
    }
    .reject-btn{
        height: 44px;
        width: 94%;
        background: #ddd;
        border-radius: 5px;
        text-transform: none;
        font-size: 17px;
        /* margin: 0 auto; */
        color:#4A134A;
        text-align: center;
        margin-top: 15px;
    }
    .card-content{
        padding: 13px 10px;
      }
    .bck-btn{
      height:20px !important;
      width:20px !important;
      float: left;
    }
      .select{
        border: 1px solid #4A134A;
        border-radius: 4px;
        width: 150px;
        height: 53px;
    }
    .text-color{
        color: #4A134A !important;
    }
    .payslip-drop{
        padding: 30px;
        display: flex;
        justify-content: center;
        justify-content: space-between;
    }
    ion-card img{
    height: 17px;
    width: 61px;
    margin: 0 auto;
    }
    
    
    .back-btn{
    position: absolute;
      //  height: 40px;
        /* width: 30px; */
       // background: white;
        z-index: 20px;
        z-index: 10;
        margin-left: 23px;
        margin-top: 10px;
        height: 33px;
        width: 104.25px;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        padding: 8px;
     
    }

    
    hr{
        //height: 1px;
        //border-width: .4px;
        //box-sizing: content-box;
      //  border-color: #4A134A;
        border: 0.2px solid #BDBDBD ;
    }
    .comments-box{
        border: 1px solid #4A134A;
        padding: 9px;
     //   width: 63%;
     //   background: gainsboro;
        border-radius: 6px;
        font-size: 16px;
        color:#4A134A;
        height: 73px;
    }
    
    
}
