page-chatbot {
 
   
        .mute_audio {
            float: right; 
            margin-top: 15px;
            margin-right: 15px;
        }
        .kiaraAssets span,
        .resSpan span{
            display: block; 
            font-size: 14px;
            padding-top: 5px;
            line-height: 1.5;
        }
        .kiaraAssets .firstChild,
        .resSpan .firstChild{
            margin-top: -33px;
        }
        .btn{
            text-align: center;
        }
        .btn:nth-child(1){
            margin-top: 10px;
            margin-bottom: 10px; //bharti added 1 august

        }
        .btn:nth-child(2){
            margin-top: 7px;
        }
        .btn:nth-child(3){
            margin-top: 7px;
        }
        .btn button{
            background: map-get($colors, white);
            color:  map-get($colors, black);
            width: 100%;
            border-radius: 30px;
            text-transform: capitalize;
            height: 44px;
            box-shadow: none;
        }
        .btn button.activated,.button-effect{
            background: linear-gradient(to right,map-get($colors,header1) , map-get($colors,header2));
            color: map-get($colors, white);
        }
        .btn button span{
            font-size: 16px;
            display: flex;
        }
        .btn .lastChild{
            color: map-get($colors, black);
        }
        
        .search.item-md{
           // position: fixed;
            //bottom: 50px;
           // bottom: 5px;
           // margin-left: -5px;
            background: #F7F7F7;
            height: 53px;
          //  border-top: 2px solid map-get($colors, msgRespondcolor);
            z-index: 99;
        }
        .search.item-ios{
         //   position: fixed;
            //bottom: 50px;
            bottom: 5px;
            margin-left: -15px;
            background: map-get($colors, white);
            height: 53px;
            border-top: 2px solid map-get($colors, msgRespondcolor);
            z-index: 99;
        }
        .scroll-content{
          //  padding-bottom: 50px !important;
        }
        .text-input{
          // margin: 11px 8px 11px 11px;
           // padding: 15px;
        }
        .ion-ios-mic,.ion-md-mic{
            margin-right: 20px;
        }
     
        .slide-zoom .card{
            width: 285px;
        }
        .item-ios, .item-md{
            background: transparent;
            padding-left: 0px;
        }
        
        [col-9]{
            padding-left: 0px;
        }
        .icon.ion-ios-download,.icon.ion-md-download,
        .icon.ion-ios-redo,.icon.ion-md-redo{
            float: right;
        }
        .chatAssets span{
            display: block; 
            margin-left: 35px;
            float: right  !important;
            text-align: right !important;

        }
        /*.scroll-content{
            margin-bottom: 0px !important;
            padding: 5px !important;
        }*/

        ion-content.content-md[padding] .scroll-content {
            //margin-bottom: 85px !important;
           // padding: 5px !important;
        }
        
        ion-content.content-md:not([padding]) .scroll-content {
           // margin-bottom: 0px !important;
           // padding: 5px !important;
        }
        ion-app.ios [padding] .scroll-content{
           // margin-bottom: 0px !important;
        }
        .message.slide-right{
           // margin-left: -10px;
        }
        .messages {
        .message {
            -webkit-box-flex: 1 !important;
            -moz-box-flex: 1 !important;
            -webkit-flex: 1 1 auto !important;
            -ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important;
            padding: 10px !important;
            -webkit-transition: all 250ms ease-in-out !important;
            transition: all 250ms ease-in-out !important;
            overflow: hidden !important;
            text-align: left !important;
            -webkit-transform: translate3d(0, 0, 0) !important;
            -moz-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
        }
        }

        .messages.other {
        .message {
            -webkit-transform: translate3d(0, 0, 0) !important;
            -moz-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
            text-align: center !important;
        }
        span.messageRespond {
            color: black !important;
            display: inline-block !important;
            padding: 10px !important;
            border-radius: 10px !important;
            text-align: left !important;
            max-width: 90% !important;
            margin-right: -55px;
        }
        }
        span.messageRequest {
            background: #007AFF !important;
            display: inline-block !important;
            color: white !important;
            padding: 10px !important;
            border-radius: 10px !important;
            text-align: left !important;
            max-width:90%  !important;
            }
        .list{
            margin: 0px !important;
        }
        .message-partner {
            background: #EAEAEA;
            align-self: flex-start;
            margin-left: 33px;
            opacity: 0.7;
            color:map-get($colors, black);
        }
        .card-header{
            background: linear-gradient(to right,map-get($colors,msgColor1) , map-get($colors,msgColor2));
            opacity: 0.7;
            color:map-get($colors, white);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-size: 14px;
            white-space: inherit;
        }
        ion-card img{
            display: initial;
            width:7%;
        }
        .card-content{
            background: #F7F7F7;
        //	opacity: 0.3;
            //padding: 40px;
          //  padding-bottom: 0px;
        }
        .message-partner-card {
            align-self: flex-start;
            color:map-get($colors, white);
        }
        .message-partner-card .dateSpan{
            margin-left: -42px;
        }
        .message-partner-slide {
            background: transparent;
            align-self: flex-start;
            margin-left: 33px;
        }
        .message-box {
            padding: 6px 10px;
            border-radius: 20px;
            position: relative;
            //color: map-get($colors, white);
            font-size: 13px;
            //width: 90%;
        }
        .myCard{
            // margin-right: 61px;
            // margin-left: 0px;
                margin-left: 35px;
                align-self: f;
                display: flex;
                align-self: flex-start;
                flex-flow: column;
                box-shadow: none !important;
        }
        .receiver-avtar-img{
            align-self: flex-start;
            margin-top: -28px;
        }
        .receiver-avtar-img-btn{
            align-self: flex-start;
            margin-top: -42px;
        }
        .receiver-avtar-img-btn-car{
            align-self: flex-start;
            margin-top: -41px;
        }
        .message-box-holder{
            width: 100%;
            margin: 0 0 15px;
            display: flex;
            flex-flow: column;
            align-items: flex-end;
            //margin-bottom: 40px;
        }
        .Sender-avtar-img{
            align-self: flex-end;
            margin-top: -30px;
        }
        .message-sender-margin {
            margin-right: 33px;
            background-color: map-get($colors,msgRespondcolor) !important;
        }
        .kiaraAssets  .message-sender-margin .dateSpan{
            color:map-get($colors,black);
            margin-top: 10px;
        }
        .kiaraAssets .dateSpan{
            font-size: 10px;
            float: left;
         //   margin-top: 30px;
            color:map-get($colors,black )
        }
        
        .kiaraAssets .btndateSpan{
            font-size: 12px;
            float: left;
            margin-top: 23px;
            color:map-get($colors,white);
            margin-left: -40px;
        }
        .kiaraAssets .cardateSpan{
            font-size: 12px;
            color: map-get($colors,white);
            position: absolute;
            bottom: 75px;
            left: 8px;
        }
        .kiaraAssets .imgSpan{
            float: right;
            margin-top: 21px;
        }
        .kiaraAssets .imgSpan img,
        .kiaraAssets .btnimgSpan img{ 
            width:20px;
        }
        .kiaraAssets .btnimgSpan{
            float: right;
            margin-top: 20px;
            margin-right: -40px;
        }
        
        .imgSpan .likeImg,
        .btnimgSpan .likeImg{
            margin-right: 10px;
        }
        .chatBtn{
            background: linear-gradient(to right,map-get($colors,msgColor1) , map-get($colors,msgColor2));
            border-radius: 6px 6px 0px 0;
        }
        .chatBtn p{
            margin-top: 0px;
            padding: 10px;
            font-weight: bold;
        }
        .button-ios.activated{
            background-color:  map-get($colors,msgColor1);
            color:map-get($colors, white);
        }
        .kiaraAssets .moreDetails{
            //background: map-get($colors, white);
            padding: 10px;
            margin-top: -5px;
            color:map-get($colors, header2);
            border-left: 2px solid map-get($colors, msgRespondcolor);
            border-bottom:4px solid map-get($colors, msgRespondcolor);
            border-right: 2px solid map-get($colors, msgRespondcolor);
            text-align: left;
            background: map-get($colors, white);
        }
        .kiaraAssets .ionSlideMsg{
            padding-left: 35px;
        }
        .imgSlide{
            margin-top: 7px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .downImg{
            width: 20px !important;
            height: 20px !important;
            float: right;
        }
        
        .kiaraAssets .autoBtn{
            background: linear-gradient(to right,map-get($colors,msgColor1) , map-get($colors,msgColor2));
            padding: 13px;
            margin-left: -9px;
            margin-right: -9px;
            margin-top: -5px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            margin-bottom: 10px;
        }
        .search .sendIcon{
            //margin-left: 28px;
            //opacity: 1;
            //height: 60px !important;
       //     margin-top: -5px;
        }
        .message-partner.autoAssets{
            background: linear-gradient(to right,map-get($colors,msgColor1) , map-get($colors,msgColor2));
            opacity: 0.3;
        }
        .kiaraAssets .cardHead{
            color: map-get($colors, black);	
            margin-top: -4px;
            padding: 8px;
        }
        .borderTitle{
            border: 1px solid map-get($colors, msgRespondcolor);
            padding: 10px;
            margin-top: -5px;
            border-top: none;
        }
        .borderTitle p.carMoreDetails button{
            background: transparent;
            color: map-get($colors,  header1);
            font-size: 14px;
        }
        .carMoreDetails{
            padding-top: 6px;
        }

        .img-loaded + ion-spinner {
    display:none;
    }
    // .center in my case to make the spinner at the center
    .center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
    .buttonCrousel_row{
        background: #e5cce1;
        margin-bottom: 20px;  //Bharti 1 August
    }
    .buttonCrousel_row ion-slide{
        width: 47% !important;
        margin-left: 8px;
    }
    .buttonCrousel_row ion-slides{
        height: 60% !important;
        padding: 0px;
    }


    .bg-img {
        background: radial-gradient(circle, #F4F4F4 0%, #828282 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
        left: 0;
        top: 0;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
       overflow-y: scroll;
    //    contain: layout size style ;
      }
      .back-btn{
        position: absolute;
          //  height: 40px;
            /* width: 30px; */
            z-index: 20px;
            z-index: 10;
            margin-left: 23px;
            margin-top: 10px;
            height: 33px;
            width: 104.25px;
            border-radius: 15px;
            background-color: #ffffff;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
            padding: 8px;
        }
        .back-btn img{
            height: 16px !important;
            width: 79px !important;
        }
        // img{
        //     width: 26px !important;
        //     height: 25px !important;
        // }
        .rectangle-1 {
            position: absolute;
            left: 0px;
         
            height: 100%;
            width: 57px;
            background-color: #4A134A;
            z-index: 7;
          }
          .rectangle-2 {
            width: 80px;
            background-color: #B6D142;
            position: absolute;
            left: 0px;
            top: 1px;
            height: 100%;
            box-shadow: 3px 0 8px 0 rgba(0,0,0,0.5) !important;
            }
            ion-scroll {
               /// height: 400px;
              
                }
                .card {
    position: absolute;
    z-index: 20;
    border-radius: 10px;
    width: calc(100% - 41px);
    // margin-top: 59px;
    // margin-left: 21px;
    // margin-right: 21px;
    padding: 7px;   
    background-color: #F7F7F7;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

    width: calc(100% - 36px);
    //width: calc(100% - 23px);
    top: 54%;
    margin-left: 5%;
    transform: translateY(-50%);
    height: 85vh;
    overflow-y: scroll;
                }
         
.search{
        width: 100%;
        display: flex;
        flex-direction: initial;
        justify-content: center;
      //  bottom: 0px;
       position: absolute;
        z-index: 90;
        //top:84%;
        overflow-y: scroll;
        overflow: visible; 
        background: #F7F7F7 !important;
        left: 0%;
        bottom: 2px;
    }
    .search-open{
        width: 100%;
        display: flex;
        flex-direction: initial;
        justify-content: center;
      //  bottom: 0px;
        position: absolute;
        z-index: 90;
        //bottom: 42% !important;
        //top:40%;
        overflow-y: scroll;
        overflow: visible; 
        background: #F7F7F7 !important;
        left: 0%;
        bottom: 2px;
    
    }
    .search-open img{
        height: 50px !important;
        width: 50px !important;
    }
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 5
      }
     
    .search img{
        height: 50px !important;
        width: 50px !important;
    }
    .search .button{
            height: 20%;
            padding: 0;
    }

                .send-btn img{
              //  margin-right: 16px;
      
               animation: bubble 1.0s forwards;
             //  position: relative;
               animation-name: example;
             //  animation-duration: 5s;
              // animation-delay: -3s;
            }
         
              
              /* Standard syntax */
              @keyframes example {
                0%   { left:0px; top:0px;}
                100%  { left:180px !important; top:0px;}                
              }

      
            
         
            .audio-btn img{
            
                animation: bubble 1.0s forwards;
               //    position: relative;
                animation-name: example1;
            }
            @keyframes example1 {
                0%   { right:0px; top:0px;}
                100% { right:180px !important; top:0px;}
            }

.hide {
    visibility: hidden;
} 
.unhide {
    visibility: visible;
} 

ion-content{
    height: auto !important;
       overflow-y: scroll;
}
.audio-icon img{
    height: 30px !important;
    width: 35px !important;
}
.sendIcon img{
height: 43px !important;
width: 43px !important;
}

.chat-area{
    width: 65%;
}
.chat-area_nowidth{
    width: 0%;
}
.space-between{
    margin-left: 20px;
}

.content{
    background-color:#F7F7F7 !important;
    //min-height: 441px;
    height: 90% !important;
    overflow: auto;
}

@media only screen 

  and (max-device-height: 568px)

  and (-webkit-min-device-pixel-ratio: 2) {
  
.card {
 
    width: calc(100% - 36px);
    top: 49%;
    margin-left: 5%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
   height: 77% !important;
    //overflow-y: scroll;
}}
a[disabled], button[disabled], [ion-button][disabled]{
  //  height: 30%;
}
.button[icon-only]{
    height: 17%;
}
ion-input, ion-textarea{
    margin-top: 6px;
}
//             @media only screen 
//   and (min-device-height: 640px)
//   and (-webkit-min-device-pixel-ratio: 2) {
//     .card{
//         // display: flex;
//         // align-items: center; 
//         // justify-content: center; 
//         // text-align: center;
//      //   margin-top: 6%;
        
//     }
// }

// @media only screen 

//   and (min-device-height: 823px)
//   and (-webkit-min-device-pixel-ratio: 2) {
//     .card{
//         // display: flex;
//         // align-items: center; 
//         // justify-content: center; 
//         // text-align: center;
//         margin-top: 14%;
        
//     }
// }

// @media only screen 

//   and (min-device-height: 731px)
  
//   and (-webkit-min-device-pixel-ratio: 2) {
//     .card{
//         // display: flex;
//         // align-items: center; 
//         // justify-content: center; 
//         // text-align: center;
//         top: 12%;
        
//     }
// }


}
