<!-- <ion-navbar>
		<ion-buttons left class="backtstart">
			<button ion-button></button>
		</ion-buttons>
		<ion-title>Ask to Kiara</ion-title>
		<ion-buttons end class="userend">
			<button ion-button (click)="presentConfirm()">
			</button>
		</ion-buttons>
	</ion-navbar> -->
<div class="bg-img">
	<div class="back-btn" (click)="goBack()">
		<img src="assets/imgs/back-btn-chtbot.jpg" alt="Chatbot-Icon">
	</div>
	<div class="audio-icon" (click)="toggleMute()">
		<img *ngIf="mute" src="assets/imgs/audio_off.svg" width="30" class="mute_audio">
		<img *ngIf="!mute" src="assets/imgs/audio_on.svg" width="30" class="mute_audio">
		<!--img *ngIf="mute" src="assets/imgs/mute.svg" class="mute_audio">
		<img *ngIf="!mute" src="assets/imgs/unmute.svg" class="mute_audio"-->
	</div>
	<div class="rectangle-1">
		<div class="tfg-logo">
		</div>
		<div class="toggle-btn">
		</div>
	</div>
	<div class="rectangle-2">
	</div>
	<ion-card>
		<!-- <ion-scroll scrollY="true" item-height="1" >  -->
		<ion-content scroll=true class="content-stable " on-swipe-left="hideTime = false" on-swipe-right="hideTime = true" no-bounce>

			<ion-row>
				<ion-col col-12 class="kiaraAssets message-box-holder">
					<span class="input message-box message-partner">
						<span class="welcomeText" style="white-space: pre-line;">{{userWelcomeMsg}}</span>
						<!-- <span class="dateSpan">{{myDate|date:'dd MMM yyyy hh:mm a'}}</span> -->

					</span>
					<img src="assets/imgs/txt-msg-chatbot.svg" width="30" class="receiver-avtar-img">
				</ion-col>
			</ion-row>

			<ion-row *ngIf="notifyFlag">
				<ion-col col-12 class="kiaraAssets message-box-holder">
					<span class="input message-box  message-partner">
						<span class="welcomeText">{{pushNotify}}</span>
						<!-- <span class="dateSpan">{{myDate|date:'dd MMM yyyy hh:mm a'}}</span> -->
						<!-- <span class="imgSpan">
						 <img src={{myLikeImage}}   (click)="likedislike(chatt.response,'like')" width="20" class="likeImg"> 
						 <img src={{myDisLikeImage}}  (click)="likedislike(chatt.response,'dislike')" width="20" class="likeImg"> 
					</span> -->
					</span>
					<img src="assets/imgs/txt-msg-chatbot.svg" width="30" class="receiver-avtar-img">
				</ion-col>
			</ion-row>


			<ion-list *ngFor="let chatt of chatMessages; let i=index">
				<ion-row>
					<ion-col col-12 class="kiaraAssets message-box-holder">

						<span class="messageRespond message-box message-sender-margin">
							<span class="welcomeText">{{chatt.request}}</span>
							<!-- <span class="dateSpan">{{myDate|date:'dd MMM yyyy hh:mm a'}}</span> -->
						</span>
						<img src="assets/imgs/userReq-icon.svg" width="30" class="Sender-avtar-img">

					</ion-col>
				</ion-row>

				<ion-row *ngIf="!chatt.old_message" [ngClass]="{'hide': msgReceived, 'unhide': !msgReceived}">
					<ion-col style="margin-left: 30px;">
						<img src="assets/imgs/chat_loading.gif" width="50">
					</ion-col>
				</ion-row>

				<ion-row *ngIf="chatt.response">
					<ion-col *ngIf="chatt.flagStatus ==1" col-12 class="kiaraAssets message-box-holder">
						<span class="input message-box  message-partner">
							<span class="welcomeText" [innerHTML]="chatt.response"></span>
							<!-- <span class="dateSpan">{{myDate|date:'dd MMM yyyy hh:mm a'}}</span> -->
							<!-- <span class="imgSpan">
						 <img src={{myLikeImage}}   (click)="likedislike(chatt.response,'like')" width="20" class="likeImg"> 
						 <img src={{myDisLikeImage}}  (click)="likedislike(chatt.response,'dislike')" width="20" class="likeImg"> 
					</span> -->
						</span>
						<img src="assets/imgs/txt-msg-chatbot.svg" width="30" class="receiver-avtar-img">
					</ion-col>
				</ion-row>



				<ion-row *ngIf="chatt.flagStatus == 2" class="btnRow">
					<ion-col col-12 class="kiaraAssets message-box-holder">
						<ion-card class="myCard">
							<ion-card-header>
								{{chatt.response}}
							</ion-card-header>
							<ion-card-content>
								<span class="input message-box message-partner-card">
									<div class="btn" *ngFor="let button of chatt.buttons; let j=index">
										<button *ngIf="!chatt.isForm" ion-button round (click)="buttonRequest(button.payLoad,i,j)" [disabled]="!button.active">{{button.title}}</button>
										<button *ngIf="chatt.isForm" ion-button round (click)="buttonFormRequest(button.payLoad,i,j)" [disabled]="!button.active">{{button.title}}</button>
									</div>
									<!-- <span class="btndateSpan">{{myDate|date:'dd MMM yyyy hh:mm a'}}</span> -->
									<!-- <span class="btnimgSpan">
							 <img src={{myLikeImage}} (click)="likedislike(chatt.response,'like',i)" width="20" height="20" class="likeImg">
							<img src={{myDisLikeImage}} (click)="likedislike(chatt.response,'dislike',i)" width="20"> 
						</span> -->
								</span>
							</ion-card-content>
						</ion-card>
						<img src="assets/imgs/txt-msg-chatbot.svg" width="30" class="receiver-avtar-img-btn">
					</ion-col>
				</ion-row>

				<ion-row *ngIf="chatt.flagStatus == 3">
					<ion-col col-12 class="kiaraAssets message-box-holder">
						<span class="input message-box  message-partner">
							<span class="welcomeText">{{chatt.response}}</span>
							<!-- <span class="dateSpan">{{myDate|date:'dd MMM yyyy hh:mm a'}}</span> -->
							<!-- <span class="imgSpan">
						 <img src={{myLikeImage}}   (click)="likedislike(chatt.response,'like')" width="20" class="likeImg"> 
						 <img src={{myDisLikeImage}}  (click)="likedislike(chatt.response,'dislike')" width="20" class="likeImg"> 
					</span> -->
						</span>
						<ion-slides slidesPerView="2" spaceBetween="280" loop=true pager="2" class="input message-box ionSlideMsg">
							<ion-slide *ngFor="let data of chatt.imgsrc;  let i=index">
								<ion-item class="card">
									<img src='{{data.image}}'>
									<!-- <span class="cardateSpan">{{myDate|date:'dd MMM yyyy  HH:mm'}}</span> -->
									<div class="borderTitle">
										<p>{{data.title}}</p>
										<p *ngFor="let details of data.buttonList" class="carMoreDetails">
											<button (click)="moreDetails(details.payLoad)"> > {{details.title}}</button>
										</p>
									</div>
								</ion-item>
							</ion-slide>
						</ion-slides>
						<img src="assets/imgs/txt-msg-chatbot.svg" width="30" class="receiver-avtar-img-btn-car">
					</ion-col>
				</ion-row>

				<!-- Bharti 27 July and 1 august-->
				<ion-row class="btnRow" *ngIf="chatt.flagStatus == 4">
					<ion-col col-12 class="kiaraAssets message-box-holder">
						<ion-card class="myCard">
							<ion-card-header>
								{{chatt.response}}
							</ion-card-header>
							<ion-card-content>
								<span class="input message-box message-partner-card">
									<div class="btn" *ngFor="let button of chatt.buttons; let j=index">
										<button ion-button round (click)="buttonRequest(button.payLoad,i,j)" [disabled]=!button.active>{{button.title}}</button>
									</div>
									<!-- <span class="btndateSpan">{{myDate|date:'dd MMM yyyy hh:mm a'}}</span> -->
									<span class="btnimgSpan">
										<img src={{myLikeImage}} (click)="likedislike(chatt.response,'like',i)" width="20" height="20" class="likeImg">
										<img src={{myDisLikeImage}} (click)="likedislike(chatt.response,'dislike',i)" width="20">
									</span>
								</span>
							</ion-card-content>
						</ion-card>
						<img src="assets/imgs/txt-msg-chatbot.svg" width="30" class="receiver-avtar-img-btn-car">
					</ion-col>
				</ion-row>

				<ion-row class="buttonCrousel_row" *ngIf="chatt.flagStatus == 4">
					<ion-slides slidesPerView="2" spaceBetween="2" loop=true pager="1">
						<ion-slide *ngFor="let carousel of chatt.btnCarsl; let j=index">
							<div class="btn">
								<button [disabled]=!carousel.active (click)="buttonRequest(carousel.payLoad,i,j)" ion-button round>{{carousel.title}}</button>
							</div>
						</ion-slide>
					</ion-slides>
				</ion-row>
				<!-- End -->
			</ion-list>



		</ion-content>
		<!-- </ion-scroll> -->

			
			<!-- <button icon-only ion-button clear type="button" item-right (click)="startRecording()">
						<img src="assets/imgs/audio-btn-chatbot.svg" width="17">
			</button>
			<ion-input placeholder="Please enter here.." [(ngModel)]="chatMsg" #input></ion-input>
			
			<button icon-only ion-button clear type="button" [disabled]="!chatMsg" item-right (click)="sendMessages()" class="sendIcon">
				<img src="assets/imgs/send_icon.svg" width="25">
			</button> -->
	
	
			<div [ngClass]="{'search': !keyBoardOpen,'search-open': keyBoardOpen}" sticky>
					<div  [ngClass]="{'audio-btn':animationstart, 'hide ': animationstart }">
						<img  *ngIf="!gifloading" src="assets/imgs/audio-inactive-chatbot.svg" (click)="startAnimationAudio()">
						<img  *ngIf="gifloading" src="assets/imgs/listeningMic.gif">
					</div>
					<div class="audio-active" [ngClass]="{ 'unhide ': animationstart ,'hide ': !animationstart }">
						<img src="assets/imgs/audio-active-chatbot.svg" (click)="startRecording()">
					</div>
					<div class="space-between"></div>
					<div  [ngClass]="{'hide': !gifloading, 'unhide': gifloading }">
						<ion-label style="margin-top: 20px; color: #4A134A;">Please Say Something</ion-label>
					</div>
					<div [ngClass]="{'chat-area_nowidth': !sendBtnVisibility, 'chat-area': sendBtnVisibility && !gifloading}">
						<ion-input [ngClass]="{ 'unhide ': animationstart ,'hide ': gifloading || !animationstart }"  placeholder="Please enter here.." (keyup.enter)="sendMessages()" [(ngModel)]="chatMsg" #input (click)="openhideKeyboard()"></ion-input>
						<img [ngClass]="{'hide': !gifloading, 'unhide': gifloading }" src="assets/imgs/chat_loading.gif">
					</div>
					<div [ngClass]="{'send-btn':animationstart, 'hide':sendBtnVisibility }">
						<img src="assets/imgs/text-inactive-chatbot.svg" (click)="startAnimationText()">
					</div>
					<button icon-only ion-button clear type="button" [disabled]="!chatMsg" item-right (click)="sendMessages()" class="sendIcon" [ngClass]="{'hide': !sendBtnVisibility || gifloading, 'unhide': sendBtnVisibility}">
						<img src="assets/imgs/send_icon.png">
					</button>
					<!--button icon-only ion-button clear type="button" item-right (click)="closeListening()" [ngClass]="{'hide': !gifloading, 'unhide': gifloading }">
						<img src="assets/imgs/close_btn.svg" style="width:24px !important;">
					</button-->
			</div>
	</ion-card>


	
</div>